<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <title>Gossip</title>
    <link rel="stylesheet" href="/css/style.css" />

    <!-- font-awesome -->
    <script
      src="https://kit.fontawesome.com/7e8f7b28f5.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="chatroom-container">
      <div class="room-header">
        <div class="burger">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <h1 class="header-title">
          <img src="/favicon/logo.png" alt="logo" /> <span>ossip</span>
        </h1>
        <div class="leave-room">
          <a href="/"><i class="fas fa-sign-out-alt fa-2x"></i></a>
        </div>
      </div>
      <div class="room-body">
        <div class="sidebar">
          <div class="sidebar-container">
            <div class="room-name">
              <h1 class="room-title">
                <span><i class="far fa-comments"></i> </span> Room title:
              </h1>
              <h1 id="roomName"></h1>
            </div>
            <div class="users">
              <h1>
                <span><i class="fas fa-users"></i></span> Users:
              </h1>
              <ul id="userNames"></ul>
            </div>
          </div>
        </div>
        <div id="messages-area"></div>
      </div>
      <div class="room-footer">
        <form id="chat-form">
          <input
            type="text"
            id="msg"
            name="msg"
            placeholder="Type message"
            autocomplete="off"
            required
          />
          <button id="message-send"><i class="fas fa-paper-plane"></i></button>
        </form>
      </div>
    </div>

    <!-- script -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js"
      integrity="sha256-C66CaAImteEKZPYvgng9j10J/45e9sAuZyfPYCwp4gE="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js"
      integrity="sha256-ijqLssetA1NMNjZ+w1zaUafQQLm4IW5OoM8O+4tatME="
      crossorigin="anonymous"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
