<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" /> -->
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" /> -->
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <title>Gossip</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div id="login-box" class="login-container">
      <div class="login-title">
        <h1>Login</h1>
      </div>
      <form id="login-form" action="/chat-room">
        <label for="userName">User Name</label>
        <input
          type="text"
          name="username"
          placeholder="username"
          required
          maxlength="20"
        />
        <label for="roomName">Room Name</label>
        <input
          type="text"
          name="room"
          placeholder="room name"
          required
          maxlength="20"
        />
        <button class="login-btn">Join now</button>
      </form>
    </div>

    <!-- script -->

    <script src="./js/main.js"></script>
  </body>
</html>
